{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="table-responsive col-lg-12">
	  	<h3>Data Association Links </h3>
    </br>
        <ul>
        <li> <a href="{% url 'example_content' %}"> Example_content </a></li>
        <li> <a href="{% url 'data_teams' %}">Teams </a></li>
        <li> <a href="{% url 'list_proteins' %}">Representation Table </a></li>
        <li> <a href="{% url 'search_association' %}">Search </a></li>
      </ul>
</div>


</div>
</div>


{% endblock content %}



{% block extrahead %}
<style>

</style>
{% endblock extrahead %}



{% block extrajs %}

{% endblock extrajs %}
