{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

</br>
</br>
</br>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Target Order</th>
            <th scope="col">Group</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hemiptera</td>
            <td>Ruchir Mishra</td>
          </tr>
          <tr>
            <td>Hemiptera</td>
            <td>Ruchir Mishra</td>
          </tr>
          <tr>
            <td>Hemiptera</td>
            <td>Ruchir Mishra</td>
          </tr>
          <tr>
            <td>Hemiptera</td>
            <td>Ruchir Mishra</td>
          </tr>
          <tr>
            <td>Hemiptera</td>
            <td>Ruchir Mishra</td>
          </tr>
        </tbody>
      </table>
</div>


</div>
</div>


{% endblock content %}



{% block extrahead %}
<style>

.table-fit {
    width: 1px;
    white-space: nowrap;
}

td[value="App1Aa1"] {
    background-color: lightblue;
}

td[value="Cry1Aa1"] {
    background-color: orange;
}

td[value="Cry2Aa1"] {
    background-color: hotpink;
}

td[value="Cry3Aa1"] {
    background-color: salmon;
}

td[value="Cry4Aa1"] {
    background-color: Turquoise;
}

td[value="Cry7Aa1"] {
    background-color: wheat;
}

td[value="Cry10Aa1"] {
    background-color: silver;
}


</style>
{% endblock extrahead %}



{% block extrajs %}

{% endblock extrajs %}
