{% extends "newwebpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="table-responsive col-lg-12">
	  	<h3>Data Association Links </h3>
    </br>
        <ul>
        <li> <a href="{% url 'example_content' %}"> Example_content </a></li>
        <li> <a href="{% url 'search_association' %}">Search </a></li>
      </ul>
</div>
</div>
</div>
<br>
<br>


{% endblock content %}



{% block extrahead %}
<style>

.container1 {
  display: flex;
  justify-content: space-between;
}
.container1 div {
  width: 50%;
  padding: 155px;
  border: 1px solid black;
}

</style>
{% endblock extrahead %}



{% block extrajs %}

{% endblock extrajs %}
