{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="table-responsive col-lg-12">
	  	<a>List of protein holotypes </a>
      <table class="table table-bordered table-hover table-fit">
        <tbody>
      {% for protein in proteins %}
        {% if forloop.counter0|divisibleby:10 %}
          <tr>
        {% endif %}
          <td value="{{ protein }}" >{{ protein }}</td>
        {% if forloop.counter|divisibleby:10 %}
          </tr>
        {% endif %}

     {% endfor %}
     </tbody>
    </table>
</div>


</div>
</div>


{% endblock content %}



{% block extrahead %}
<style>

.table-fit {
    width: 1px;
    white-space: nowrap;
}

td[value="App1Aa1"] {
    background-color: lightblue;
}

td[value="Cry1Aa1"] {
    background-color: orange;
}

td[value="Cry2Aa1"] {
    background-color: hotpink;
}

td[value="Cry3Aa1"] {
    background-color: salmon;
}

td[value="Cry4Aa1"] {
    background-color: Turquoise;
}

td[value="Cry7Aa1"] {
    background-color: wheat;
}

td[value="Cry10Aa1"] {
    background-color: silver;
}


</style>
{% endblock extrahead %}



{% block extrajs %}

{% endblock extrajs %}
