{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<h2>Search Toxicity and Non toxicity data for pesticidal proteins</h2>
<br>
Examples:
<br>
<h8> Cry1Ac, Cry1Ab, Cry1Ba <h8> <br>
<h8> Cry2Aa, Cry2Aa2, Cry2Ab1 <h8> <br>
<h8> Cry73, Cry11, Cry2, Cry3, Cry4 <h8> <br>
<h8> Cry, Mpp, Tpp, Cyt <h8>
</br>
</br>


<form method="post" action="/search_data_association/">
  {% csrf_token %}

       {{ form.search_term | as_crispy_field }}
       {{ form.search_fields | as_crispy_field }}

      <button type="submit" class="btn btn-secondary" > Search </button>
</form>


{% endblock content %}

{% block extrahead %}
<style>

.asteriskField {
    display: none;
}

</style>
{% endblock extrahead %}

{% block extrajs %}

{% endblock extrajs %}
