{% load static %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-left" data-aos-delay="200">
        <h1 data-aos="fade-up" data-aos-delay="400">Welcome to the Bacterial Pesticidal Protein Database</h1>
        <a><img src="{% static 'assets/img/bpprc.png' %}" alt="Responsive image" class="img-fluid"></a>
        <div data-aos="fade-up" data-aos-delay="800">
        <a href="#about" class="btn-get-started scrollto">About Us</a>
      </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
        <img src="{% static 'assets/img/protein.png' %}" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->
