{% extends "newwebpage/base.html" %}
{% load static %}
{% block content %}

<div class="col-lg-12 pt-5 mt-5 pt-b mb-5 mx-auto">

<div class="form-row text-right">
    <div class="col-12">
        <input type="button" class="btn btn-primary" value="Back" onclick="window.history.back()"></input>
    </div>
 </div>

{% for protein in proteins %}
<p><strong>Protein Name :</strong> &nbsp; {{ protein.name }} </p>
<p><strong>Accession :</strong> &nbsp; <a href="https://www.ncbi.nlm.nih.gov/protein/{{ protein.accession }}" target="_blank"> {{ protein.accession }} </a></p>
            <th scope="col"></th>
<p><strong>Download: </strong> &nbsp; <a href=/download_single_sequence/{{ protein.name }}>Fasta Sequence</a></p>
<p><strong>Length: </strong> &nbsp; {{ protein.get_sequence_length }} </p>

<div class="column" style="word-break: break-all;"> <p> <strong> Sequence:  </strong> &nbsp; {{ protein.sequence|upper }} </p> </div>
<p><strong> Predicted Molecular Mass (kDa) : </strong> {{ protein.get_sequence_molecular_weight }} &nbsp; </p>
<p><strong>Predicted Sequence Isoelectric Point : </strong> {{ protein.get_sequence_isoelectric_point }} &nbsp; </p>

 </div>

{% endfor %}

{% endblock %}
