{% extends "newwebpage/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<main id="main">

<div class="app-container col-lg-12 pt-5 mt-5 justify-content-center mx-auto">
<div class="col-lg-12 pt-5 mt-5 pt-b mb-5 mx-auto">

  <div class="row">
    <div class="col-md-12">
  <h1 class="display-4"> Search database by protein name </h1>
  <br>
  <h5> Examples:</h5>
  <ul class="list-unstyled">
   <li>Cry1Aa1</li>
   <li>Cry32B</li>
   <li>Xpp22</li>
   <li>Cry41, Cry42, Cry43</li>
  </ul>
   </div>
  </div>

  {% if items_in_cart %}
  <div class="text-primary text-right">
    <h6> You have {{ items_in_cart|length }} proteins in the cart </h6>
  </div>
  {% else %}
  <div class="text-primary text-right">
    <h6> You have {{ items_in_cart|length }} proteins in the cart </h6>
  </div>
  {% endif %}

<div class="col-md-12 pt-3 mt-3 pt-b mb-5 justify-content-center mx-auto">
<form method="post" action="/search_database/">
  {% csrf_token %}

       {{ form.search_term | as_crispy_field }}
       {{ form.search_fields | as_crispy_field }}

      <button type="submit" class="btn btn-primary" > Search </button>
</form>
</div>
<br>
<br>
<p class="lead">As well as searching the database by current protein name, the pull down menu also allows you to search just the holotypes (those proteins ending in “1”), to search for a given accession number or to search the structure database for a particular protein. There is also the option of searching using old names for a protein.</p>

</div>
</div>
{% endblock content %}
</main><!-- End #main -->



{% block extrahead %}
<style>

.asteriskField {
    display: none;
}

</style>
{% endblock extrahead %}

{% block extrajs %}

{% endblock extrajs %}
