<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BPPRC</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr - v2.2.1
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{% url 'homepage' %}"><span>Home</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="/static/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="drop-down"><a href="">About us</a>
            <ul>
              <li><a href="#Funding"></a>Funding</li>
              <li><a href="{% url 'search_database' %}"></a>Cite</li>
            </ul>
          </li>
          <li class="drop-down"><a href="">Database</a>
            <ul>
              <li><a href="{% url 'database' %}"></a>Structural Classes</li>
              <li><a href="{% url 'search_database' %}"></a>Search by Name</li>
              <li><a href="#"></a>Protein Structures</li>
            </ul>
          </li>
          <li class="drop-down"><a href="">BestMatchFinder</a>
            <ul>
              <li><a href="#">Search by sequence</a></li>
              <li><a href="#">Pairwise comparision</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="">Submit your sequence for naming</a>
            <ul>
              <li><a href="#">Submission form</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="">Links</a>
            <ul>
              <li><a href="#">Old Bt nomenclature site</a></li>
              <li><a href="#">BPPRC</a></li>
              <li><a href="#">Old name/New name table</a></li>
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Statistics</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="">FAQs</a>
            <ul>
              <li><a href="#">Frequently asked questions</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="">Feedback</a>
            <ul>
              <li><a href="#">Feedback form</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="">Cart</a>
            <ul>
              <li><a href="#">Download or analyse specific sequences</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Welcome to the Bacterial Pesticidal Protein Database</h1>
          <h2 data-aos="fade-up" data-aos-delay="400"></h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="/static/assets/img/protein.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
            <p>
              The pesticidal protein database is part of the Bacterial Pesticidal Protein Resource Center (www.bpprc.org). This database is intended to replace and extend the old Bacillus thuringiensis toxin nomenclature site.
            </p>
            <p>
              The database currently contains proteins listed in the Bt nomenclature site but with new mnemonics to reflect the assignment of proteins to different homology groups. New bacteria-derived proteins with pesticidal properties have also been added.
            </p>
            <p>
              This site allows users to find the best matches within the database to their own sequence. Database sequences can be downloaded and analysed in various ways.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Funding</h2>
          <p>This project is supported by the National Science Foundation I/UCRC, the Center for Arthropod Management Technologies, under Grant Nos. IIP-1338775 and 1821914, and by industry partners.</p>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Structural Classes</h2>
          <p>Click to view all the proteins currently in each class.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-app">Cry</li>
              <li data-filter=".filter-app">Cyt</li>
              <li data-filter=".filter-app">Gpp</li>
              <li data-filter=".filter-app">Mcf</li>
              <li data-filter=".filter-app">Mpf</li>
              <li data-filter=".filter-app">Mpp</li>
              <li data-filter=".filter-app">Mtx</li>
              <li data-filter=".filter-card">Pra</li>
              <li data-filter=".filter-card">Prb</li>
              <li data-filter=".filter-card">Spp</li>
              <li data-filter=".filter-card">Tpp</li>
              <li data-filter=".filter-card">Vip</li>
              <li data-filter=".filter-card">Vpa</li>
              <li data-filter=".filter-card">Vpb</li>
              <li data-filter=".filter-card">Xpp</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

          <div>
          <a href="" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/app.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color:black; font-size: 60px;">App</h4>
                <div class="portfolio-links">
                </div>
              </div>
            </div>
          </div> <i class="bx bx-link"></i></a>
        </div>

          <a href="portfolio-details.html" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/cry.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color:black; font-size: 60px;">Cry</h4>
                <div class="portfolio-links">
                </div>
              </div>
            </div>
          </div> <i class="bx bx-link"></i></a>

          <a href="portfolio-details.html" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/cyt.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color:black; font-size: 60px;">Cyt</h4>
                <div class="portfolio-links">
                </div>
              </div>
            </div>
          </div> <i class="bx bx-link"></i></a>

          <a href="portfolio-details.html" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/gpp.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color:black; font-size: 60px;">Gpp</h4>
                <div class="portfolio-links">
                </div>
              </div>
            </div>
          </div> <i class="bx bx-link"></i></a>

          <a href="portfolio-details.html" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/xpp.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color:black; font-size: 60px;">Mcf</h4>
                <div class="portfolio-links">
                </div>
              </div>
            </div>
          </div> <i class="bx bx-link"></i></a>

          <a href="portfolio-details.html" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/mpf.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color:black; font-size: 60px;">Mpf</h4>
                <div class="portfolio-links">
                </div>
              </div>
            </div>
          </div> <i class="bx bx-link"></i></a>

          <a href="portfolio-details.html" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/mpp.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color:black; font-size: 60px;">Mpp</h4>
                <div class="portfolio-links">
                </div>
              </div>
            </div>
          </div> <i class="bx bx-link"></i></a>

          <a href="portfolio-details.html" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/mtx.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color:black; font-size: 60px;">Mtx</h4>
                <div class="portfolio-links">
                </div>
              </div>
            </div>
          </div> <i class="bx bx-link"></i></a>

          <a href="portfolio-details.html" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/pra.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color:black; font-size: 60px;">Pra</h4>
                <div class="portfolio-links">
                </div>
              </div>
            </div>
          </div> <i class="bx bx-link"></i></a>

          <a href="portfolio-details.html" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/prb.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color:black; font-size: 60px;">Prb</h4>
                <div class="portfolio-links">
                </div>
              </div>
            </div>
          </div> <i class="bx bx-link"></i></a>

          <a href="portfolio-details.html" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/xpp.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color:black; font-size: 60px;">Spp</h4>
                <div class="portfolio-links">
                </div>
              </div>
            </div>
          </div> <i class="bx bx-link"></i></a>

          <a href="portfolio-details.html" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/tpp.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color:black; font-size: 60px;">Tpp</h4>
                <div class="portfolio-links">
                </div>
              </div>
            </div>
          </div> <i class="bx bx-link"></i></a>

          <a href="portfolio-details.html" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/vip.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color:black; font-size: 60px;">Vip</h4>
                <div class="portfolio-links">
                </div>
              </div>
            </div>
          </div> <i class="bx bx-link"></i></a>

          <a href="portfolio-details.html" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/vpa.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color:black; font-size: 60px;">Vpa</h4>
                <div class="portfolio-links">
                </div>
              </div>
            </div>
          </div> <i class="bx bx-link"></i></a>

          <a href="portfolio-details.html" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/vpb.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color:black; font-size: 60px;">Vpb</h4>
                <div class="portfolio-links">
                </div>
              </div>
            </div>
          </div> <i class="bx bx-link"></i></a>

          <a href="portfolio-details.html" title="More Details">
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="/static/assets/img/portfolio/xpp.jpeg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 style="color:black; font-size: 60px;">Xpp</h4>
                <div class="portfolio-links">
                </div>
              </div>
            </div>
          </div> <i class="bx bx-link"></i></a>
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Can I name my own protein?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              No. Even though you can identify the most closely related proteins, you can only acquire an official name by use of this site.  Self-naming of proteins will inevitably lead to different users adopting the same protein name, confusing the literature.  Only the nomenclature committee can issue new protein names.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>My protein is completely different. Should I refer to it as Xpp-like?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              No. Xpp is a holding group containing members of several disparate protein families.  As a result, Xpp-like would not actually indicate any significant homology.  You could however, refer to your protein in relation to a specific Xpp protein (as Xpp37-like for example). The numeric value will be retained when the protein is re-categorized to a specific protein family in the future.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>I have a pesticidal protein derived from a fern. Can I add this sequence to the database?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Probably not.  This site only aims to deal with proteins of bacterial origin.  However, if your protein of non-bacterial origin has a high degree of identity with a protein that is already in the database, you may make a case for its inclusion.  The committee will consider these requests on a case-by-case basis.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->



      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Feedback</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <a href="www.bpprc.org"> <h3>BPPRC</h3> </a>
              <p>Bacterial Pesticidal Protein Resource Center</p>
              <div class="">
                <a href="" class=""><i class=""></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>BPPRC</strong>. All Rights Reserved
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>
