<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Category Details - BPPRC</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr - v2.2.1
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{% url 'homepage' %}"><span>BPPRC</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="/static/assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="drop-down"><a href="">About us</a>
            <ul>
              <li><a href="#Services"></a>Funding</li>
              <li><a href="{% url 'search_database' %}"></a>Cite</li>
            </ul>
          </li>
          <li class="drop-down"><a href="">Database</a>
            <ul>
              <li><a href="{% url 'database' %}"></a>Structural Classes</li>
              <li><a href="{% url 'search_database' %}"></a>Search by Name</li>
              <li><a href="#"></a>Protein Structures</li>
            </ul>
          </li>
          <li class="drop-down"><a href="">BestMatchFinder</a>
            <ul>
              <li><a href="#">Search by sequence</a></li>
              <li><a href="#">Pairwise comparision</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="">Submit your sequence for naming</a>
            <ul>
              <li><a href="#">Submission form</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="">Links</a>
            <ul>
              <li><a href="#">Old Bt nomenclature site</a></li>
              <li><a href="#">BPPRC</a></li>
              <li><a href="#">Old name/New name table</a></li>
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Statistics</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="">FAQs</a>
            <ul>
              <li><a href="#">Frequently asked questions</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="">Feedback</a>
            <ul>
              <li><a href="#">Feedback form</a></li>
            </ul>
          </li>
          <li class="drop-down"><a href="">Cart</a>
            <ul>
              <li><a href="#">Download or analyse specific sequences</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Category Details</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Category Details</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            {% block content %}

            {% for description in descriptions %}
            <div>
              <p class="text-center text-primary">   </p>
              <h2 class="portfolio-title">{{description.name}} : {{description.description}}</h2>
            </div>
            {% endfor %}
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>
  <script src="/static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/static/assets/vendor/owl.carousel/assets/owl.carousel.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>
