{% extends "newwebpage/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% block content %}


<div class="col-lg-12 pt-5 mt-5 pt-b mb-5 mx-auto">
<div class="container">

    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy}}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}

</div>
</div>
