{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

      <h3> Frequently Asked Questions</h3>
      <br>
      <p><h5>Can I name my own protein?</h5></p>

      <p class="text-justify"> -No. Even though you can identify the most closely related proteins, you can only acquire an official name by use of this site.  Self-naming of proteins will inevitably lead to different users adopting the same protein name, confusing the literature.  Only the nomenclature committee can issue new protein names.</p>
      <br/>

      <p><h5>My protein is completely different. Should I refer to it as Xpp-like?</h5></p>
      <p class="text-justify">-No. Xpp is a holding group containing members of several disparate protein families.  As a result, Xpp-like would not actually indicate any significant homology.  You could however, refer to your protein in relation to a specific Xpp protein (as Xpp37-like for example). The numeric value will be retained when the protein is re-categorized to a specific protein family in the future. </p>

      <br/>

      <p><h5>I have a pesticidal protein derived from a fern. Can I add this sequence to the database?</h5></p>
      <p class="text-justify" >-Probably not.  This site only aims to deal with proteins of bacterial origin.  However, if your protein of non-bacterial origin has a high degree of identity with a protein that is already in the database, you may make a case for its inclusion.  The committee will consider these requests on a case-by-case basis.</p>
      <br>


{% endblock content %}

{% block extrahead %}

{% endblock extrahead %}


{% block extrajs %}


{% endblock %}
