{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h3>Get the development version of BBPRC database from <a target="_blank" href="https://github.com/Amrithasuresh/BPPRC"> Github </a> </h3>
<br>
<p> <h5> If you have Python, Git and pip installed, use the following commands: </h5> </p>
<br>
<p> <h5> git clone https://github.com/Amrithasuresh/BPPRC.git  </h5> </p>
<p> <h5> cd bpprc </h5> </p>
<p> <h5> pip install -r requirements.txt  </h5> </p>
<p> <h5> python manage.py migrate </h5> </p>
<p> <h5> python manage.py runserver </h5> </p>
<p> <h5> Then copy the following URL in your browser</h5> </p>
<p> <h5> http://127.0.0.1:8000/ </h5> </p>





{% endblock content %}


{% block extrahead %}


{% endblock extrahead %}


{% block extrajs %}


{% endblock %}
