{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


  <h1 class="text-center list-unstyled"> <ul> Submit your sequence to the database</h1>
  <br>
  <br>
  <br>
  <h3> Proteins will only get a name if they are derived from a bacterium and satisfies one of the criteria </h3>
  <br>
  <h5> <li> Have >95% identity to an existing named protein (or)</li> </h5>
  <h5> <li> Have demonstrated activity against a target pest organism</li></ul> </h5>
  <br>
  <br>

  <form action="{% url 'submit' %}" method="POST">
  {% csrf_token %}
  {% crispy form %}

  <script src='https://www.google.com/recaptcha/api.js'></script>
  <div class="g-recaptcha" data-sitekey="6LcYKegUAAAAAIw_AyIzUkwe8BMFeAJCzBaUdpOW"></div>

  <button type="submit" class="btn btn-primary">Post</button>
  </form>


{% endblock content %}



{% block extrajs %}
<script>
$(function() {
  $('#div_id_taxonid').append("<a href='https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi' target='_blank'> Where can I find taxonid?</a>")
});

</script>
<script>
$(function() {
    $('input[name="sourcebacterium"]').change(function(obj) {
    console.log($(this).val());
    if ($(this).val() === 'True') {
        $('#id_sourcebacterium_textbox').parent().parent().show();
    } else {
      $('#id_sourcebacterium_textbox').parent().parent().hide();
    }
  });
  $('#id_sourcebacterium_textbox').parent().parent().hide();
});
</script>

<script>
$(function() {
    $('input[name="bacterium"]').change(function(obj) {
    console.log($(this).val());
    if ($(this).val() === 'True') {
        $('#id_bacterium_textbox').parent().parent().show();
        $('#id_taxonid').parent().parent().show();
    } else {
      $('#id_bacterium_textbox').parent().parent().show();
      $('#id_taxonid').parent().parent().hide();
    }
  });
  $('#id_bacterium_textbox').parent().parent().show();
  $('#id_taxonid').parent().parent().hide();
});
</script>

<script>
$(function() {
    $('input[name="partnerprotein"]').change(function(obj) {
    console.log($(this).val());
    if ($(this).val() === 'True') {
        $('#id_partnerprotein_textbox').parent().parent().show();
    } else {
      $('#id_partnerprotein_textbox').parent().parent().hide();
    }
  });
  $('#id_partnerprotein_textbox').parent().parent().hide();
});
</script>

<script type="text/javascript">

  $('.js-captcha-refresh').click(function (evt) {
      evt.preventDefault();
      $.getJSON("/captcha/refresh/", function (result) {
          $('.captcha').attr('src', result['image_url']);
          $('#id_captcha_0').val(result['key'])
      });
  });


  $(function() {
    $('.form-check').css('display', 'inline-block');
  });

</script>


{% endblock %}
