{% extends "base.html" %}
{% block content %}


<div class="row">
	<div class="col-md-6">
<b>Welcome to the Pesticidal Protein Database</b>
<br>
	<br>
		<div>
			<p>The pesticidal protein database is part of the Bacterial Pesticidal Protein Resource Center (BPPRC), which is currently under development.
		This database is intended to replace and extend the current

				<i> Bacillus thuringiensis </i> toxin nomenclature site

				<a href="http://www.btnomenclature.info/" target="_blank" >http://www.btnomenclature.info</a>.

			</p>
			<p>The database currently contains proteins listed in the Bt nomenclature site but with new mnemonics to reflect the assignment of proteins to different homology groups.
		New bacteria-derived proteins with pesticidal properties have also been added.</p>
			<p>This site allows users to find the best matches within the database to their own sequence. Database sequences can be downloaded and analysed in various ways</p>
			<p>The development team is composed of: </p>
			<p>
				<font size="3">
					<div>
						<i> Suresh Panneerselvam </i>
						<sup>1</sup> ,

						<i> Neil Crickmore </i>
						<sup>2</sup> ,

						<i> Colin Berry </i>
						<sup>3</sup>,

						<i> Thomas Connor </i>
						<sup>3</sup>,

						<i>Ruchir Mishra </i>
						<sup>1</sup>  and

						<i> Bryony C. Bonning </i>
						<sup>1</sup>
					</div>
				</font>
			</p>
			<sup> 1 </sup>
			<i> Department of Entomology and Nematology, University of Florida, USA </i>
			<br></br>
				<sup> 2 </sup>
				<i> School of Life Sciences, University of Sussex, UK  </i>
			<br></br>
					<sup> 3 </sup>
					<i> School of Biosciences, Cardiff University, UK </i>
				</div>
		</div>
	<div class="col-md-6">
    <img src="/media/protein.png" alt="UF" width="600" height="600">
  </div>
</div>



{% endblock content %}
