{% extends "database/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}

<!-- {% render_table table %} -->

{% block extrahead %}

<link rel="stylesheet" type="text/css" href="{% static 'database/cc.css' %}">
{% endblock %}

{% block content %}


	<form action="search_database/add_cart/" id="analysis_form" method="POST">
  {% csrf_token %}


		<div class="clear-float"></div>
		<div class="mt-2"></div>
  {% for description in descriptions %}

		<div>
			<span class="font-weight-bold">{{description.name}}:</span> {{description.description}}

			<br></br>
		</div>
  {% endfor %}


		<table class="table">
			<thead>
				<tr>
					<th>
						<input type="checkbox" id="selectall" class="regular-checkbox"/>
						<label for="selectall">
						</th>
						<th>Name </th>
						<th>Oldname </th>
						<th>Othernames</th>
						<th>Accession Number </th>
						<th>Year </th>
						<th>Fasta Sequence </th>
					</tr>
      {% for protein in proteins %}

					<tr>
						<td>
							<input type="checkbox" name="name" class="regular-checkbox name" value="{{ protein.name }}" />
						</td>
						<td> <a href=protein_detail/{{ protein.name }} > {{ protein.name}}</td>
						<td>{{ protein.oldname }}</td>
						<td>{{ protein.othernames }}</td>
						<td>
							<a href="https://www.ncbi.nlm.nih.gov/protein/{{ protein.accession }}" target="_blank"> {{ protein.accession }} </a>
						</td>
						<td>{{ protein.year }}</td>
						<td> <a href=download_single_sequence/{{ protein.name }}>Download</a>
						</td>
					</tr>
    {% endfor %}

				</thead>
			</table>
			<br/>
			<br/>
			<button type="submit" class="btn btn-secondary" > Add to Cart </button>
			<br/>
			<br/>
			<br/>
			<input type="button" class="btn btn-secondary" value="Back" onclick="window.history.back()" />
		</form>


{% endblock content %}

{% block extrajs %}



		<script type="text/javascript">

$(function () {
    // add multiple select / deselect functionality
    $("#selectall").click(function () {
        $('.name').attr('checked', this.checked);
    });

    // if all checkbox are selected, then check the select all checkbox
    // and viceversa
    $(".name").click(function () {

        if ($(".name").length == $(".name:checked").length) {
            $("#selectall").attr("checked", "checked");
        } else {
            $("#selectall").removeAttr("checked");
        }

    });
});

</script>
{% endblock %}
