{% extends "database/base.html" %}
{% block content %}
{% load static %}

<br> </br>
<br> </br>
<br> </br>

<head>
	<title>Home</title>
	<meta Charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'database/cc.css' %}">
	</head>
	<div>
	<span class="font-weight-bold">Pesticidal proteins are newly categorized into the following categories.</span>
	<br> </br>
	</div>
	<div id="wrapper">
		<ul id="circles">
      {% for prefix in category_prefixes %}

			<li>
				<a href="/categorize_database_{{ prefix|lower }}" >
					<div class="circle">
						<div>{{ prefix }}</div>
					</div>
				</a>
			</li>
        {% endfor %}
		<br> </br>
		<br> </br>
		</ul>
	</div>
	<div class="clear-float"></div>
	<div class="mt-2"></div>
{% for description in descriptions %}
	<div>
		<span class="font-weight-bold">{{description.name}}:</span> <span class="font-weight-light"> {{description.description}} </span>
		<br> </br>

	</div>
{% endfor %}

{% endblock content %}
