{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}
<div>
<h3> Download the fasta sequences by categories </h3>
</br>
{% crispy form1 %}
</div>

<div>
<h3> Download the threedomain sequences </h3>
</br>
{% crispy form2 %}
</div>

{% endblock content %}

{% block extrahead %}
<style>

.form-check {
  font-size: 16px;
  line-height: 2;
}
</style>

{% endblock extrahead %}


{% block extrajs %}
<script>
$('#id_category_type_1').click(function() {
   if(this.checked) {
       $(':checkbox').each(function() {
           this.checked = true;
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false;
       });
   }
});

$('#id_download_category_type_1').click(function() {
   if(this.checked) {
       $(':checkbox').each(function() {
           this.checked = true;
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false;
       });
   }
});
</script>

{% endblock extrajs %}
