{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}



{% block content %}
<div>
<h3> Download the fasta sequences by categories </h3>
</br>
{% crispy form1 %}
</div>

<div>
<h3> Download the threedomain sequences </h3>
</br>
{% crispy form2 %}
</div>

<div>
<h3> Download the holotype sequences </h3>
</br>
{% crispy form3 %}
</div>

{% endblock content %}

{% block extrahead %}
<style>

.form-check {
  font-size: 16px;
  line-height: 2;
}
</style>

{% endblock extrahead %}


{% block extrajs %}
<script>
$('input[type=checkbox]').click((e) => {
  const form = $(e.target).closest('form');
  if ($(e.target).val() === 'all') {
    const checkAll = $(e.target).prop('checked');
    form.find('input[type=checkbox]').prop('checked', checkAll);
  } else {
    if (form.find('input[type=checkbox]:not([value=all]):not(:checked)').length === 0) {
      form.find('input[type=checkbox][value=all]').prop('checked', true);
    } else {
      form.find('input[type=checkbox][value=all]').prop('checked', false);
    }
  }

});
</script>

{% endblock extrajs %}
