{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
td{
    border:1px solid #000;
}

tr td:last-child{
    width:1%;
    white-space:nowrap;
}
</style>

</br>
<div class="container">
  <div class="row">
    <div class="col-12">
		<table class="table table-bordered w-auto table-hover">
			<thead>
				<tr>
						<th scope="col">Name </th>
						<th scope="col">Old Name </th>
						<th scope="col">Accession Number </th>
						<th scope="col">PDB ID</th>
						<th scope="col">Year </th>
					</tr>
					{% for protein in structures %}
					<tr>
            <td>{{protein.name}}</td>
						<td>{{ protein.oldname }}</td>
						<td>
							<a href="https://www.ncbi.nlm.nih.gov/protein/{{ protein.accession }}" target="_blank"> {{ protein.accession }} </a>
						</td>
            <td> <a href="https://www.rcsb.org/structure/{{ protein.pdbid }}" target="_blank"> {{ protein.pdbid}}</td>
						<td>{{ protein.year }}</td>
					</tr>
      {% endfor %}
				</thead>
			</table>
			<br>
				<br>
					<br>
						<br>
							<br>
							<input type="button" class="btn btn-primary" value="Back" onclick="window.history.back()" />

</form>
</div>
</div>
</div>

{% endblock content %}


{% block extrahead %}
<style>

.regular-checkbox input {
  vertical-align: middle;
  position: relative;
  bottom: 2px;
}

</style>

{% endblock extrahead %}

{% block extrajs %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" ></script>

<script type="text/javascript">

  $(function () {
      // add multiple select / deselect functionality
      $("#selectall").click(function () {
          $('.name').attr('checked', this.checked);
					$('.nterminal').attr('checked', false);
					$('#domain1').attr('checked', false);
					$('#domain2').attr('checked', false);
					$('#domain3').attr('checked', false);
					$('.cterminal').attr('checked', false);
					$('.middle').attr('checked', false);
      });

      $(".name").click(function () {

          if ($(".name").length == $(".name:checked").length) {
              $("#selectall").attr("checked", "checked");
          } else {
              $("#selectall").removeAttr("checked");
          }
					var parent = $(this).parent().parent();
					parent.find('.nterminal').attr('checked', false);
					parent.find('.cterminal').attr('checked', false);
					parent.find('.middle').attr('checked', false);

      });
  });

</script>
<script>

  $(function () {
      // add multiple select / deselect functionality
      $("#domain1").click(function () {
					$('.nterminal').attr('checked', this.checked);
					$('.name').attr('checked', false);
					$('#selectall').attr('checked', false);
      });

      $(".nterminal").click(function () {

          if ($(".nterminal").length == $(".nterminal:checked").length) {
              $("#domain1").attr("checked", "checked");
          } else {
              $("#domain1").removeAttr("checked");
          }
					var parent = $(this).parent().parent();
					parent.find('.name').attr('checked', false);


      });
  });

</script>

<script>

  $(function () {
      // add multiple select / deselect functionality
      $("#domain2").click(function () {
					$('.middle').attr('checked', this.checked);
					$('.name').attr('checked', false);
					$('#selectall').attr('checked', false);
      });

      $(".middle").click(function () {

          if ($(".middle").length == $(".middle:checked").length) {
              $("#domain2").attr("checked", "checked");
          } else {
              $("#domain2").removeAttr("checked");
          }
					var parent = $(this).parent().parent();
					parent.find('.name').attr('checked', false);

      });
  });

</script>

<script>

  $(function () {
      // add multiple select / deselect functionality
      $("#domain3").click(function () {
					$('.cterminal').attr('checked', this.checked);
					$('.name').attr('checked', false);
					$('#selectall').attr('checked', false);
      });

      $(".cterminal").click(function () {

          if ($(".cterminal").length == $(".cterminal:checked").length) {
              $("#domain3").attr("checked", "checked");
          } else {
              $("#domain3").removeAttr("checked");
          }
					var parent = $(this).parent().parent();
					parent.find('.name').attr('checked', false);

      });
  });

</script>

<script>
function cbChange(obj) {
    /* var cbs = document.getElementsByClassName("column-class2");
    for (var i = 0; i < cbs.length; i++) {
        cbs[i].checked = false;
    }
    obj.checked = true; */
}
</script>

{% endblock extrajs %}
