{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
td{
    border:1px solid #000;
}

tr td:last-child{
    width:1%;
    white-space:nowrap;
}
</style>

</br>
<div class="container">
  <div class="row">
    <div class="table-responsive col-lg-12">
      <h3>Interpreting linked structural information:</h3>
      </br>
      <h5>Links to structures in the PDB are given where:</h5>
      </br>
          <ul>
           <li>The structure corresponds to a BPPRC sequence entry.  Note, where two BPPRC entries represent identical amino acid sequences (eg App6Aa1 and App6Aa2), the structure PDB entry will be associated with both (regardless of which quaternary rank was described in any associated publication).</li>
            </br>
            <li>The structure corresponds to a mutant of a BPPRC sequence entry where a small number of mutations have been included to aid crystallisation and/or to elucidate function.</li>
            </br>
            <li>The structure represents either a full length or an activated form of the toxin (the structure may not represent the full-length sequence in the BPPRC database entry).</li>
          </ul>
          </br>
          <h7><b>  NOTE: Users are advised to check the correspondence between the PDB entry sequence and the BPPRC sequence (eg using both the BPPRC best match finder needle and blast alignments) and should take care in the interpretation of the data. </b> </h7>
          </br>
          </br>
		<table class="table table-bordered table-hover w-auto table-fit">
			<thead>
				<tr>
						<th scope="col">Name </th>
						<th scope="col">Old Name </th>
						<th scope="col">Accession Number </th>
						<th scope="col">PDB ID</th>
            <th scope="col">PubMed ID</th>
						<th scope="col">Year </th>
        		<th scope="col">Modified</th>
        		<th scope="col">Comment</th>
					</tr>
					{% for protein in structures %}
					<tr>
            <td>{{protein.name}}</td>
						<td>{{ protein.oldname }}</td>
						<td>
							<a href="https://www.ncbi.nlm.nih.gov/protein/{{ protein.accession }}" target="_blank"> {{ protein.accession }} </a>
						</td>
            <td>
              {% for id in protein.pdbid %}
              {% if protein.pdbid|length > 1 %}
                <a href="https://www.rcsb.org/structure/{{ id }}" target="_blank">{{ id }},</a>
              {% else %}
                <a href="https://www.rcsb.org/structure/{{ id }}" target="_blank">{{ id }}</a>
              {% endif %}
              {% endfor %}
            </td>
            <td> <a href="https://pubmed.ncbi.nlm.nih.gov/{{ protein.pubmedid }}" target="_blank"> {{ protein.pubmedid}}</td>
						<td>{{ protein.year }}</td>
						<td>{{ protein.modified }}</td>
  					<td>{{ protein.comment }}</td>
					</tr>
      {% endfor %}
				</thead>
			</table>
			<br>
				<br>
					<br>
						<br>
							<br>
							<input type="button" class="btn btn-primary" value="Back" onclick="window.history.back()" />

</div>
</div>
</div>

{% endblock content %}


{% block extrahead %}
<style>

.regular-checkbox input {
  vertical-align: middle;
  position: relative;
  bottom: 2px;
}

</style>

{% endblock extrahead %}

{% block extrajs %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" ></script>

<script type="text/javascript">

  $(function () {
      // add multiple select / deselect functionality
      $("#selectall").click(function () {
          $('.name').attr('checked', this.checked);
					$('.nterminal').attr('checked', false);
					$('#domain1').attr('checked', false);
					$('#domain2').attr('checked', false);
					$('#domain3').attr('checked', false);
					$('.cterminal').attr('checked', false);
					$('.middle').attr('checked', false);
      });

      $(".name").click(function () {

          if ($(".name").length == $(".name:checked").length) {
              $("#selectall").attr("checked", "checked");
          } else {
              $("#selectall").removeAttr("checked");
          }
					var parent = $(this).parent().parent();
					parent.find('.nterminal').attr('checked', false);
					parent.find('.cterminal').attr('checked', false);
					parent.find('.middle').attr('checked', false);

      });
  });

</script>
<script>

  $(function () {
      // add multiple select / deselect functionality
      $("#domain1").click(function () {
					$('.nterminal').attr('checked', this.checked);
					$('.name').attr('checked', false);
					$('#selectall').attr('checked', false);
      });

      $(".nterminal").click(function () {

          if ($(".nterminal").length == $(".nterminal:checked").length) {
              $("#domain1").attr("checked", "checked");
          } else {
              $("#domain1").removeAttr("checked");
          }
					var parent = $(this).parent().parent();
					parent.find('.name').attr('checked', false);


      });
  });

</script>

<script>

  $(function () {
      // add multiple select / deselect functionality
      $("#domain2").click(function () {
					$('.middle').attr('checked', this.checked);
					$('.name').attr('checked', false);
					$('#selectall').attr('checked', false);
      });

      $(".middle").click(function () {

          if ($(".middle").length == $(".middle:checked").length) {
              $("#domain2").attr("checked", "checked");
          } else {
              $("#domain2").removeAttr("checked");
          }
					var parent = $(this).parent().parent();
					parent.find('.name').attr('checked', false);

      });
  });

</script>

<script>

  $(function () {
      // add multiple select / deselect functionality
      $("#domain3").click(function () {
					$('.cterminal').attr('checked', this.checked);
					$('.name').attr('checked', false);
					$('#selectall').attr('checked', false);
      });

      $(".cterminal").click(function () {

          if ($(".cterminal").length == $(".cterminal:checked").length) {
              $("#domain3").attr("checked", "checked");
          } else {
              $("#domain3").removeAttr("checked");
          }
					var parent = $(this).parent().parent();
					parent.find('.name').attr('checked', false);

      });
  });

</script>

<script>
function cbChange(obj) {
    /* var cbs = document.getElementsByClassName("column-class2");
    for (var i = 0; i < cbs.length; i++) {
        cbs[i].checked = false;
    }
    obj.checked = true; */
}
</script>

{% endblock extrajs %}
