{% extends "database/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'database/cc.css' %}">

{% block content %}


<html>
<body>
<div class="container">
<h2>Type in protein name(s) to search the database </h2>
<br>
examples:
<br>
<h8> Cry1Aa1 <h8>
  <br>
<h8> Cry32B <h8>
  <br>
<h8> Xpp22 <h8>
  <br>
<h8> Cry41, Cry42, Cry43 <h8>
<br>
<br>

<form action="/search_database/" method="post">
  {% csrf_token %}

  <div class="col-lg-10">
  <input type="text" name="search_term" class="form-control" placeholder="Enter protein name" data-toggle="tooltip" data-placement="top" title="You can search by protein name.">
  </div>
    {{ form | crispy }}
  <br></br>
  <button type="submit" class="btn btn-secondary"  >Submit</button>
</form>


{% endblock content %}

{% block extrajs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('#id_keyword_in_form').chosen();
  });

</script>
{% endblock %}

</body>
</html>
