{% extends "base.html" %}
{% load static %}


{% block content %}

<form action="search_database/add_cart/" id="analysis_form" method="POST">
{% csrf_token %}


	<table class="table table-nonfluid table-bordered table-hover">
		<thead>
			<tr>
				<th>
					<a href="{% url 'clear_session_database' %}">
						<span class="fa fa-trash"></span>
					</a>
				</th>
				<th scope="col">No </th>
				<th scope="col">Name </th>
				<th scope="col">Oldname </th>
				<th scope="col">Accession </th>
			</tr>
		</thead>
	<tbody>
		{% for protein in proteins %}
		{% if protein.name in selected_groups %}

				<tr>
					<td>
			        <a href="{% url 'remove_cart' protein.id %}">
			          <span class="fa fa-trash"></span>
			        </a>
					</td>
					<td> {{ forloop.counter }} </td>
					<td> {{ protein.name }} </td>
					<td>{{ protein.oldname }}</td>
					<td>{{ protein.accession }}</td>
				</tr>
	{% endif %}
	{% endfor %}

		</tbody>
		</table>
		<br>
		<br>
		<br>
		<br>
	</form>

	<b>Your sequences below </b>
												<br>
													<br>
														<a href="{% url 'clear_session_user_data' %}" > Clear Session </a>
														<br>
															<table border="3" class="parent" cellspacing="0" width="55%">
																<thead>
																	<tr>
																		<th>
																			<a href="{% url 'clear_session_user_data' %}"  class="fa fa-trash"></a>
																		</th>
																		<th>Name </th>
																	</tr>
          {% for record in userdata %}

																	<tr>
																		<td>
																			<a href="{% url 'user_data_remove' record.id %}"

																				<span class="fa fa-trash"></span>
																			</td>
																			<td>{{ record.name }}</td>
																		</tr>
          {% endfor %}


																	</thead>
																</table>
																<a href="{% url 'download_sequences' %}"> Download sequences </a>
																<br>
																	<br>
																		<b>Append your sequences to the analysis</b>
																		<form action="{% url 'user_data' %}" method="post">
      {% csrf_token %}

																			<textarea name="fulltextarea" placeholder="Paste fasta sequence" rows="10" cols="90"></textarea>
																			<br/>
																			<br/>
																				<button type="submit" class="btn btn-secondary"> Add to Cart </button>
																			</form>

											<br/>
											<form action="" method="post">
											{% csrf_token %}
											<br>
											<br>
											<input type="submit" class="btn btn-secondary" value="Submit to Cluster analysis"/>
											<br>
											<br>
											</form>
{% endblock content %}


{% block extrajs %}

<script>
  $("#analysis_form").change(function() {
    $(".xxx1:checkbox").attr('checked', this.checked);
  });
</script>

{% endblock %}
