{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="table-responsive col-lg-12">
	  	<a>List of structures </a>
      <table class="table table-bordered table-hover table-fit">
        <thead>
          <tr>
            <th scope="col">New Name</th>
            <th scope="col">Old Name</th>
            <th scope="col">PDBID</th>
            <th scope="col">Year</th>
            <th scope="col">Publication</th>
          </tr>
        </thead>
      {% for structure in structures %}
      <tbody>
        <tr>
          <td>{{ structure.name}}</td>
          <td>{{ structure.oldname}}</td>
          <td> <a href="https://www.rcsb.org/structure/{{ structure.pdbid }}" target="_blank"> {{ structure.pdbid}}</td>
          <td> <a href="https://pubmed.ncbi.nlm.nih.gov/{{ structure.pubmedid }}" target="_blank"> {{ structure.pubmedid}}</td>
          <td>{{ structure.year}}</td>
        </tr>
    </tbody>
     {% endfor %}
    </table>
</div>


</div>
</div>


{% endblock content %}



{% block extrahead %}
<style>

.table-fit {
    width: 1px;
    white-space: nowrap;
}

</style>
{% endblock extrahead %}



{% block extrajs %}

{% endblock extrajs %}
